*{
	margin: 0;
	padding: 0;
	margin: 0 auto;
}
div {
	border: 1px solid black;
}
.table {
	display: table;
	min-width: 600px;
	max-width: 1600px;
}
.row {
	display: table-row;

}
.cell {
	display: table-cell;
	text-align: center;
	font-style: oblique;
	background:  #eaeaea;

}
.row div:hover {
	background-color: yellow;
	opacity: 0.5;
}
h1 {
	font-size: 23px;
	font-family: Arial, Verdana, sans-serif;
	font-weight: lighter;
	font-style: oblique;
	text-align: center;

}
h2 {
	font-size: 23px;
	font-family: Arial, Verdana, sans-serif;
	font-weight: lighter;
	font-style: oblique;
	text-align: center;
	margin: 5px
}
.table2 {
	margin: 0 auto	
	width: auto;
	display:table;
	max-width: 1600px;
	min-width: 600px;

}

.table2 li:hover {
	background-color: red;
}
.row2 {
	display: table-row;
}

.table2 li {
	list-style: none;
	background-color: grey;
	display: table-cell;
	text-align: center;
	border: 1px solid black;
	margin-left: -1px;
	margin-top: -1px;
}
.drop {
	 width: 200px; height: 200px;
     border: 7px solid red;
     border-radius: 70% 0 / 70%;
     margin-top: 60px;
     background:linear-gradient(#368ddc, #1b69af);
     box-shadow: 15px 15px 15px rgba(0,0,0,0.2);
     padding: 15px;
     opacity: 1;
     transition: opacity 1s, visibility 0s;
}
.drop:hover {
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s, visibility 0s 1s;
}
.button{
	width: 100px;
	border: 2px solid #ccc;
	background: #f7f7f7;
	text-align: center;
	padding: 10px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	cursor: pointer;
	color: #333;
	font-family:Verdana;
	font-size: 12px;
	text-decoration: none;
}
a:hover .first {
  display: none;
}
a .second {
  display: none;
}
a:hover .second {
  display: inline;
}
p{
	margin: 50px
}



