*{
	margin: 0;
	padding: 0;
	margin: 0 auto;
}
div {
	border: 1px solid black;
}
.table {
	display: table;
	min-width: 600px;
	max-width: 1600px;
}
.row {
	display: table-row;

}
.cell {
	display: table-cell;
	text-align: center;
	font-style: oblique;
	background:  #eaeaea;

}
.row div:hover {
	background-color: yellow;
	opacity: 0.5;
}
h1 {
	font-size: 23px;
	font-family: Arial, Verdana, sans-serif;
	font-weight: lighter;
	font-style: oblique;
	text-align: center;

}
h2 {
	font-size: 23px;
	font-family: Arial, Verdana, sans-serif;
	font-weight: lighter;
	font-style: oblique;
	text-align: center;
	margin: 5px
}
